$dotSize: 10px;

.tooltip {
  background: #fff;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 1rem;
  max-width: 130px;

  &__label {
    margin-bottom: 0.5rem;
  }

  &__data {
    position: relative;
    padding-inline: 1.25rem;
    line-height: 1;
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;

    &::before {
      position: absolute;
      left: 0;
      top: calc(0.5rem - $dotSize / 2);
      content: '';
      height: $dotSize;
      aspect-ratio: 1;
      background-color: currentColor;
      border-radius: 50%;
    }
  }
}
