{
  "arrowParens": "avoid",
  "singleQuote": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 150,
  "semi": true,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true
}
