.filterFrame {
  background-color: white;
  padding-block: 2rem;

  &__sub {
    margin: 0 auto;
    text-align: center;
  }
}

.chartFrame {
  background-color: white;
  border-radius: 16px;
  margin-top: 2rem !important;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 520px;
}

.legendText {
  order: 1;
  width: calc(100% - 450px);
  flex-grow: 1;
  margin: 0;
  align-self: center;
  color: #050b7f;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.legendFrame {
  display: flex;
  gap: 1rem;
  align-self: center;
  order: 2;
  min-width: 240px;
  justify-content: flex-end;
}

.ParamsFrame {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  order: 4;

  article {
    color: black;
    padding: 0.5rem 1rem;
    width: 210px;
    border-radius: 8px;
    border: 1px solid #dde1ea;
    background-color: white;
    margin: 2px;
    // cursor: pointer;

    &.active {
      border-color: #c5d0de;
      background-color: #edf2f8;
      box-shadow: 0px 0px 0px 2px #cbd3e0;
      h3 {
        color: #050b7f;
      }
    }
  }
  h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    margin: 0 0 4px;
    color: #6d7988;
  }
  p {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #444d58;
  }
}

.chart {
  min-height: 334px;
  // background-color: #3b3b3b;
  flex-grow: 1;
  order: 5;
  width: calc(100% - 250px);
}
.loadingChart {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 920px) {
  .chartFrame {
    gap: 1rem;
  }
  .legendText {
    width: 100%;
  }
  .ParamsFrame {
    order: 2;
    flex-direction: row;
    flex-grow: 1;
    width: calc(100% - 320px);
    overflow-x: auto;

    article {
      width: initial;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 5px 0.5rem;
      &.active {
        // border-width: 2px;
        box-shadow: 0px 0px 0px 2px #cbd3e0;
      }
    }

    h3 {
      margin: 0;
    }

    p {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }
  }
  .chart {
    order: 4;
    width: 100%;
  }
  .legendFrame {
    order: 5;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 740px) {
  .chartFrame {
    gap: 2rem;
    overflow-x: auto;
  }
  .ParamsFrame {
    order: 3;

    article {
      flex-wrap: wrap;
      gap: 0;
    }
    h3 {
      margin-bottom: 4px;
    }
    p {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
    }
  }
  .chart {
    order: 4;
    width: 100%;
  }
  .legendFrame {
    order: 5;
    justify-content: flex-start;
  }
}
$dotSize: 11px;

.customTooltip {
  background-color: #fff;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 1rem;
  max-width: 200px;
  position: relative;
  z-index: 9;

  &__label {
    margin-bottom: 0.5rem;
  }

  &__data {
    position: relative;
    padding-inline: 1.25rem 1rem;
    line-height: 1;
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;

    &::before {
      position: absolute;
      left: 0;
      top: calc(0.5rem - $dotSize / 2);
      content: '';
      height: $dotSize;
      aspect-ratio: 1;
      background-color: currentColor;
      border-radius: 50%;
    }
  }
}
