*,
*:before,
*:after {
  box-sizing: border-box !important;
  font-family: 'Montserrat', sans-serif;
}

.traderDash {
  background-color: dodgerblue;
  min-height: 100dvh;
}

.container {
  max-width: 1095px;
  margin: 0 auto;
}

.filterFrame {
  background-color: white;
  padding-block: 2rem;
}

.chartFrame {
  background-color: white;
  border-radius: 16px;
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

// --------------------chart --------------------------

.legendText {
  order: 1;
  width: calc(100% - 550px);
  flex-grow: 1;
  margin: 0;
  align-self: center;
}

.legendFrame {
  display: flex;
  gap: 1rem;
  align-self: center;
  order: 2;
  $dotSize: 10px;

  .tooltip {
    background: #fff;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 1rem;
    max-width: 130px;

    &__label {
      margin-bottom: 0.5rem;
    }

    &__data {
      position: relative;
      padding-inline: 1.25rem;
      line-height: 1;
      display: inline-block;
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;

      &::before {
        position: absolute;
        left: 0;
        top: calc(0.5rem - $dotSize / 2);
        content: '';
        height: $dotSize;
        aspect-ratio: 1;
        background-color: currentColor;
        border-radius: 50%;
      }
    }
  }
}

.scaleFrame {
  color: #050b7f;
  padding: 10px 1rem;
  border-color: transparent;
  border-right: 1rem solid transparent;
  background-color: white;
  justify-self: flex-end;
  order: 3;
  box-shadow: 0px 0px 0px 2px #050b7f;
  border-radius: 16px;
  font-weight: bold;
  font-size: 14px;
}

.ParamsFrame {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  order: 4;

  button {
    color: black;
    padding: 2rem 10px;
    text-align: left;
    width: 210px;
  }
}

.chart {
  min-height: 334px;
  background-color: #3b3b3b;
  flex-grow: 1;
  order: 5;
}

@media screen and (max-width: 920px) {
  .chartFrame {
    gap: 1rem;
  }
  .legendText {
    width: 100%;
  }
  .ParamsFrame {
    order: 2;
    flex-direction: row;
    flex-grow: 1;
    width: calc(100% - 320px);
    overflow-x: auto;
  }
  .chart {
    order: 4;
    width: 100%;
  }
  .legendFrame {
    order: 5;
  }
}

@media screen and (max-width: 740px) {
  .chartFrame {
    gap: 2rem;
  }
  .legendText {
    width: calc(100% - 200px);
    flex-grow: 1;
  }
  .ParamsFrame {
    order: 3;
    width: 100%;
    overflow-x: auto;
  }
  .scaleFrame {
    order: 2;
  }
  .chart {
    order: 4;
    width: 100%;
  }
  .legendFrame {
    order: 5;
  }
}
