#sidebar {
  width: 22rem;
  background-color: hsl(0, 0%, 97%);
  border-right: solid 1px hsl(0, 0%, 89%);
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 0;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    margin: 0.25rem 0;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 8px;
    color: inherit;

    &:hover {
      background: hsl(0, 0%, 89%);
    }

    &:active {
      background: hsl(0, 0%, 79%);
    }

    &.active {
      background: hsl(224, 98%, 58%);
      color: white;
      text-decoration: none;
    }
  }
}

#content {
  flex: 1;
  padding: 2rem;
  width: 100%;

  &.loading {
    opacity: 0.25;
    transition: opacity 200ms;
    transition-delay: 200ms;
  }
}
